.container{
    margin-bottom: 20px;
    flex-grow: 1;
}


.tollBar{
    display: flex;
    width: 100%;
    justify-content: space-between;


}

.leftBoxToll{
    display: flex;
    justify-content: start;
    width: 40%;
    gap: 1vw;
    margin-right: 15vw;
}

.rightBoxToll{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.menu{
    margin-top: 40px;

}

.avatar{
    width:30px;
    height: 30px;
    cursor: pointer;
}
.searchIcons{
    display: flex;
   justify-content: start;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}

.MenuIcon{
    display: none;
}

@media screen and (max-width: 768px) {
    .searchIcons {
      display: none;
    }

    .MenuIcon {
        display: flex;
        width: 50%;
    }
    .leftBoxToll{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .rightBoxToll{
        display: none;
    }
}
