.container{
    margin-bottom: 20px;
    flex-grow: 1;
}


.tollBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftBoxToll{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.rightBoxToll{
    display: flex;
    align-items: center;
    width: 55%;
    gap: 20px;
    padding-left: 35%;
}

.menu{
    margin-top: 40px;

}

.avatar{
    width:30px;
    height: 30px;
    cursor: pointer;
}

